.transaction {
  border-spacing: 0;
}

td {
  padding: 5px 20px;
  text-align: center;
  border-bottom: 1px solid #f4eee8;
}

td:first-child {
  text-align: left;
  color: #3d3511;
  font-weight: bold;
}

th {
  padding: 10px 20px;
  color: #3d3511;
  border-bottom: 1px solid #f4eee8;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

tr:nth-child(even) {
  background: #f6d27e;
}

tr:nth-child(odd) {
  background: #d1c7bf;
}
