body {
  background: #212129;
}

/* ::selection {
  background: #212129;
} */

.searchWrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 60%;
}
.searchWrapper.active {
  text-transform: uppercase;
}

.searchWrapper .input-holder {
  height: 70px;
  width: 70px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
  border-radius: 6px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.searchWrapper.active .inputHolder {
  width: 450px;
  height: 70px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
}
.searchWrapper .inputHolder .searchInput {
  width: 100%;
  height: 50px;
  padding: 0px 70px 0 20px;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Open Sans', Arial, Verdana;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  transform: translate(0, 60px);
  transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition-delay: 0.3s;
}
.searchWrapper.active .inputHolder .searchInput {
  opacity: 1;
  transform: translate(0, 10px);
}
.searchWrapper .inputHolder .searchIcon {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 6px;
  background: #fff;
  padding: 0px;
  outline: none;
  position: relative;
  z-index: 2;
  float: right;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.searchWrapper.active .inputHolder .searchIcon {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 30px;
}
.searchWrapper .inputHolder .searchIcon .span {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transform: rotate(45deg);
  transition: all 0.4s cubic-bezier(0.65, -0.6, 0.24, 1.65);
}
.searchWrapper.active .inputHolder .searchIcon .span {
  transform: rotate(-45deg);
}
.searchWrapper .inputHolder .searchIcon .span::before,
.search-wrapper .inputHolder .searchIcon .span::after {
  position: absolute;
  content: '';
}
.searchWrapper .inputHolder .searchIcon .span::before {
  width: 4px;
  height: 11px;
  left: 9px;
  top: 18px;
  border-radius: 2px;
  background: #fe5f55;
}
.searchWrapper .inputHolder .searchIcon .span::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  border: 4px solid #fe5f55;
}

.searchWrapper .close {
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transform: rotate(-180deg);
  transition: all 0.3s cubic-bezier(0.285, -0.45, 0.935, 0.11);
  transition-delay: 0.2s;
}
.searchWrapper.active .close {
  right: -50px;
  transform: rotate(45deg);
  transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition-delay: 0.5s;
}
.searchWrapper .close::before,
.searchWrapper .close::after {
  position: absolute;
  content: '';
  background: #fe5f55;
  border-radius: 2px;
}
.searchWrapper .close::before {
  width: 5px;
  height: 25px;
  left: 10px;
  top: 0px;
}
.searchWrapper .close::after {
  width: 25px;
  height: 5px;
  left: 0px;
  top: 10px;
}
