.item {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid gray;
  padding: 10px 10px;
}

.name {
  font-style: italic;
}

.phoneNumber {
  font-style: unset;
}

.btnDelete {
  border-radius: 5px;
}
