.iconSearch {
}

.iconSearch:hover .icon {
  fill: rgb(23, 223, 179);
}

.search {
  display: flex;
  justify-content: center;
  /* position: absolute; */
  /* margin-top: 30px; */
  align-items: center;
  /* width: 400px; */
}
.searchWrapper {
  opacity: 0;
  position: relative;
  width: 0;
  height: 36px;
  transition: all 0.3s ease-in-out;
  bottom: 0;
  left: 0;
  overflow: hidden;
  border-radius: 4px;
  background: rgb(33, 33, 41);
  /* color: #3f51b5; */
  border: 1px solid rgba(63, 81, 181, 0.5);
}
.searchWrapper.active {
  outline: none;
  padding: 5px 15px;
  color: rgb(18, 233, 215);
  opacity: 1;
  background: rgba(33, 33, 41, 0.2);
  width: 300px;
  transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
}
.searchWrapper:focus,
.searchWrapper:hover {
  border: 1px solid #3f51b5;
}
/* .searchWrapper.active:focus .icon,
.searchWrapper.active:hover .icon {
  fill: rgb(23, 223, 179);
} */
